export(deleteS3Bucket)
export(makeS3Bucket)
export(uploadS3File)
export(createCluster)
export(checkStatus)
export(csvToList)
export(emrlapply)
export(getFinalStatus)
export(listToCsv)
export(startCluster)
export(submitJob)
export(terminateCluster)
import(rJava)
export(awsCreds)
